@model CareerPortal.Models.ViewModels.ProfileVM
@using CareerPortal.Utilities

<div class="container-fluid">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img onerror="this.onerror=null; this.src='https://bootdey.com/img/Content/avatar/avatar7.png'" src="@ViewData["ProfileImgSrc"]" alt="Admin" class="img-fluid">
                            
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <a class="btn btn-primary text-white" asp-action="AddFile" asp-route-type="Image">Change Profile Picture</a>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary text-white" asp-action="AddFile" asp-route-type="Resume">Update Resume</a>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary text-white" href='@ViewData["ResumeSrc"]' target="_blank">Download Resume</a>
                    </div>
                </div>
                
            </div>
            
            
            <div class="col-8">
                <div class="card mb-3">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.Name
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.PhoneNumber
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date of Birth</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.DateOfBirth.ToShortDateString();
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.Address
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary text-white float-right"><i class="fas fa-edit"></i> &nbsp; Edit Information</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
                <div class="row gutters-sm">


                    <div class="col-12 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="d-inline">Experience</h3>
                                <a asp-controller="Experience" asp-action="Upsert" class="btn btn-primary float-right"><i class="fas fa-plus"></i> &nbsp; Add Experience</a>
                                <table class="table table-fixed mt-4">
                                    <thead>
                                        <tr>
                                            <th scope="col">Company</th>
                                            <th scope="col">Position</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var experience in Model.Experiences)
                                        {
                                            <tr>
                                                <td scope="row">@experience.Company</td>
                                                <td>@experience.Position</td>
                                                <td>@experience.Description</td>
                                                <td>@experience.StartDate</td>
                                                <td>@experience.EndDate</td>
                                                <td>
                                                    <div class="text-center">
                                                        <a asp-action="Upsert" asp-route-id="@experience.Id" class="btn btn-success text-white" style="cursor:pointer">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <a onclick="Delete('Experience/Delete/@experience.Id')" class="btn btn-danger text-white" style="cursor:pointer">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                
                    <div class="col-12 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="d-inline">Education</h3>
                                <a asp-controller="Education" asp-action="Upsert" class="btn btn-primary float-right"><i class="fas fa-plus"></i> &nbsp; Add Education</a>
                                <table class="table mt-4">
                                    <thead>
                                        <tr>
                                            <th scope="col">Institution</th>
                                            <th scope="col">Degree</th>
                                            <th scope="col">Score</th>
                                            <th scope="col">Enrollment Year</th>
                                            <th scope="col">Pass Year</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var education in Model.Educations)
                                        {
                                            <tr>
                                                <td scope="row">@education.Institution</td>
                                                <td>@education.Degree</td>
                                                <td>@education.Score</td>
                                                <td>@education.EnrollYear</td>
                                                <td>@education.PassYear</td>
                                                <td>
                                                    <div class="text-center">
                                                        <a asp-action="Upsert" asp-route-id="@education.Id" class="btn btn-success text-white" style="cursor:pointer">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <a onclick="Delete('Education/Delete/@education.Id')" class="btn btn-danger text-white" style="cursor:pointer">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

 </div>


@section Scripts{ 

    <script src="~/js/delete.js"></script>
}