@model IEnumerable<CareerPortal.Models.Education>
<div class="container">
    <div class="mt-5 row border justify-content-between p-5">
        <div class="col">
            <h3>Education Details</h3>
        </div>
        <div class="col">
            <a asp-action="Upsert" class="btn btn-primary float-right"><i class="fas fa-plus"></i> &nbsp; Add Education</a>
        </div>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Institution</th>
                    <th scope="col">Degree</th>
                    <th scope="col">Score</th>
                    <th scope="col">Enrollment Year</th>
                    <th scope="col">Pass Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var education in Model)
                {
                    <tr>
                        <td scope="row">@education.Institution</td>
                        <td>@education.Degree</td>
                        <td>@education.Score</td>
                        <td>@education.EnrollYear</td>
                        <td>@education.PassYear</td>
                        <td>
                            <div class="text-center">
                                <a asp-action="Upsert" asp-route-id="@education.Id" class="btn btn-success text-white" style="cursor:pointer">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a onclick="Delete('Education/Delete/@education.Id')" class="btn btn-danger text-white" style="cursor:pointer">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <a asp-controller="Experience" asp-action="Index" class="btn btn-primary mt-4 float-right">Next : Add Experience Details</a>
    </div>
</div>


@section Scripts{

    <script src="~/js/delete.js"></script>
    <partial name="_ValidationScriptsPartial" />


}
